{%extends "DEMOAPP/base.html" %}
{% block content %}
<h4>This is the about page. The contents and description about what and why this page was created will be mentioned here. This is the about page. The contents and description about what and why this page was created will be mentioned here. This is the about page. The contents and description about what and why this page was created will be mentioned here.</h4>
<br>
<h4>This is the about page. The contents and description about what and why this page was created will be mentioned here. This is the about page. The contents and description about what and why this page was created will be mentioned here. This is the about page. The contents and description about what and why this page was created will be mentioned here.</h4>
<br>
<h4>This is the about page. The contents and description about what and why this page was created will be mentioned here. This is the about page. The contents and description about what and why this page was created will be mentioned here. This is the about page. The contents and description about what and why this page was created will be mentioned here.</h4>
{% endblock content%}